include head.pug
    title Home | Big Hit Music
header
    // Navigation Bar
    // Author: Calica, Gwyneth M.
    nav
        a(href='index.html')
            img(src='images/logo site.png' alt='logo')
        ul.nav-links
            li
                a.link-focus(href='index') Home
            li
                a(href='songs') Music
            li
                a(href='artists') Artists
            li
                a(href='about') About
        .burger
            .line1
            .line2
            .line3
br
// Slideshow
// Author: Calica, Gwyneth M.
.slideshow-container
    .mySlides.fade
        .numbertext 1 / 5
        img(src='images/BTS.jpg' alt='BTS')
        .text BTS
    .mySlides.fade
        .numbertext 2 / 5
        img(src='images/txt.jpg' alt='TXT')
        .text TXT
    .mySlides.fade
        .numbertext 3 / 5
        img(src='images/2am.jpg' alt='2am')
        .text 2AM
    .mySlides.fade
        .numbertext 4 / 5
        img(src='images/8Eight.jpg' alt='8Eight')
        .text 8Eight
    .mySlides.fade
        .numbertext 5 / 5
        img(src='images/lee.png' alt='Lee')
        .text Lee
br
div(style='text-align:center')
    span.dot
    span.dot
    span.dot
    span.dot
    span.dot
script(type='text/javascript' src='../app.js')
// Author: Palma, Leslie Joy J.
section#trending
    hr
    h2 Trending
    .vids
        iframe(src='https://www.youtube.com/embed/Vd9QkWsd5p4' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 TXT (&#xD22C;&#xBAA8;&#xB85C;&#xC6B0;&#xBC14;&#xC774;&#xD22C;&#xAC8C;&#xB354;) &apos;Blue Hour&apos; Official MV
    .vids
        iframe(src='https://www.youtube.com/embed/wkMKOeMlCW4' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 [BANGTAN BOMB] Who&apos;s That Shadow? - BTS (&#xBC29;&#xD0C4;&#xC18C;&#xB144;&#xB2E8;)
    .vids
        iframe(src='https://www.youtube.com/embed/iOF7EpAe5i4' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 LeeHyun (&#xC774;&#xD604;) - YOU ARE HERE (BTS WORLD OST)
    .vids
        iframe(src='https://www.youtube.com/embed/gdZLi9oWNZg' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 BTS (&#xBC29;&#xD0C4;&#xC18C;&#xB144;&#xB2E8;) &apos;Dynamite&apos; Official MV
    .vids
        iframe(src='https://www.youtube.com/embed/XsX3ATc3FbA' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 BTS (&#xBC29;&#xD0C4;&#xC18C;&#xB144;&#xB2E8;) &apos;&#xC791;&#xC740; &#xAC83;&#xB4E4;&#xC744; &#xC704;&#xD55C; &#xC2DC; (Boy With Luv) (feat. Halsey)&apos; Official MV
    .vids
        iframe(src='https://www.youtube.com/embed/cMFHUTJ13Ys' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 TXT (&#xD22C;&#xBAA8;&#xB85C;&#xC6B0;&#xBC14;&#xC774;&#xD22C;&#xAC8C;&#xB354;) &apos;&#xC138;&#xACC4;&#xAC00; &#xBD88;&#xD0C0;&#xBC84;&#xB9B0; &#xBC24;, &#xC6B0;&#xB9B0;... (Can&apos;t You See Me?)&apos; Official MV
    .vids
        iframe(src='https://www.youtube.com/embed/UB4FzllQCyc' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 SEVENTEEN (&#xC138;&#xBE10;&#xD2F4;) &apos;HOME;RUN&apos; Official MV
    .vids
        iframe(src='https://www.youtube.com/embed/9IHwqdz8Xhw' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 BTS (&#xBC29;&#xD0C4;&#xC18C;&#xB144;&#xB2E8;) &apos;Stay Gold&apos; Official MV
// Author: Palma, Leslie Joy J.
section#news
    hr
    h2 News
    .newss
        a(href='https://www.soompi.com/article/1431660wpp/big-hit-entertainment-shares-debut-on-stock-market-at-double-their-ipo-price')
            img(src='images/bigihit.jpg' alt='Bighit Logo')
        h3
            em Big Hit Entertainment Shares Debut On Stock Market At Double Their IPO Price
    .newss
        a(href='https://www.soompi.com/article/1431189wpp/bts-makes-history-as-savage-love-and-dynamite-rule-at-no-1-and-no-2-on-billboards-hot-100')
            img(src='https://6.viki.io/image/886cf62ee08241ac8704c4ca124e0492.jpeg?s=900x600&e=t' alt='BTS Group Photo')
        h3
            em
                | BTS Makes History As &ldquo;Savage Love&rdquo; And &ldquo;Dynamite&rdquo; Rule At No. 1 And No. 2 On Billboard&rsquo;s Hot 100
    .newss
        a(href='https://www.soompi.com/article/1429370wpp/enhypen-thanks-bts-seventeen-and-txt-for-their-support')
            img(src='https://0.soompi.io/wp-content/uploads/2020/10/03101004/ENHYPEN-2.jpg' alt='ENHYPEN Group Photo')
        h3
            em ENHYPEN Thanks BTS, SEVENTEEN, And TXT For Their Support
    .newss
        a(href='https://www.soompi.com/article/1423700wpp/txts-cant-you-see-me-wins-radio-disneys-2020-song-of-the-summer')
            img(src='https://6.viki.io/image/c1f9f6d8997747d6afdbb0dba34af55f.jpeg?s=900x600&e=t' alt='TXT Group Photo')
        h3
            em TXT&rsquo;s &ldquo;Can&rsquo;t You See Me?&rdquo; Wins Radio Disney&rsquo;s 2020 Song Of The Summer
    .newss
        a(href='https://www.soompi.com/article/1432499wpp/seventeen-describes-the-message-they-hope-to-deliver-through-new-album-expresses-love-for-their-fans-and-more')
            img(src='https://6.viki.io/image/7ce51f72b1644af4ab67d6c1a2b76024.jpeg?s=900x600&e=t' alt='SEVENTEEN Group Photo')
        h3
            em
                | SEVENTEEN Describes The Message They Hope To Deliver Through New Album, Expresses Love For Their Fans, And More
    .newss
        a(href='https://www.soompi.com/article/1320055wpp/8eights-joo-hee-announces-she-will-be-getting-married-in-the-fall')
            img(src='https://6.viki.io/image/2844ef4e509543bb87420b5e7aaf9680.jpeg?s=900x600&e=t' alt='8Eight’s Joo Hee ')
        h3
            em 8Eight&rsquo;s Joo Hee Announces She Will Be Getting Married In The Fall
    .newss
        a(href='https://www.independent.co.uk/arts-entertainment/music/news/bts-black-lives-matter-donation-fans-new-album-b779616.html')
            img(src='https://static.independent.co.uk/2020/10/04/14/newFile.jpg?width=640' alt='BTS donated to Black Lives Matter')
        h3
            em BTS explain why they donated $1 million to Black Lives Matter
    .newss
        a(href='https://www.independent.co.uk/arts-entertainment/music/news/bts-shares-big-hit-entertainment-dynamite-b421714.html')
            img(src='https://static.independent.co.uk/2020/09/10/21/GettyImages-1207750137.jpg?width=640' alt='BTS ')
        h3
            em
                | BTS given shares predicted to be worth millions in record label Big Hit Entertainment
footer
    hr
    p(align='center') Copyright &copy; 2020 Alpha Group. All rights reserved.
