:root {
  --red: #750000;
  --darkred: #410505;
  --darkwhite: #b5b5b5;
  --lightblack: #161616;
}
* {
  font-family: Montserrat, sans-serif;
}

.menu-con {
  height: 80vh;
}

.home-con {
  margin-bottom: 30px !important;
}

.menu-item svg {
  margin-top: 30px;
}
.menu-item:hover {
  text-decoration: none;
}
.menu-item div:hover {
  box-shadow: 0 2px 3px grey;
}
.artistimage {
  width: 70px; height: auto;
}

#artistlist {
  margin: 0;
}

.albumimage {
  width: 70px; height: auto;
}
/* Buttons  */
.editdelete-con form button, .editdelete-con a button, button[name="save-track"] {
  height: 32px;
  padding-top: 3px;
  padding-left: 14px;
  width: 45px;
  margin:6px 6px;
  border-radius: 5px;
}

.small-del {
  height: 32px;
  padding-top: 5px;
  padding-left: 14px;
  width: 45px;
  margin:6px 6px;
  border-radius: 5px;
}
button[name="delete"], .btn-danger {
  background-color: var(--red);
  border-color: var(--red);
}
button[name="delete"]:hover, .btn-danger:hover {
  background-color: var(--darkred);
  border-color: var(--darkred);
}

button[name="edit"] {
  border-color: transparent;
}
button[name="edit"]:hover, button[name="view"]:hover {
  box-shadow: 0 1px 2px gray;
}

button[name="view"] {
  border-color: grey;
}

button[name="save"] {
  width: 90px;
}

img[title*="album"], button img[title*='track'],  button img[title*='Save'], button img[title*='artist'], a.btn-danger img {
  width: 15px;
  height: auto;
}

#currentimg {
  width: 150px;
  height: 150px;
}

#currentimgartist {
  width: 250px;
  height: 150px;
}

table {
  font-size: 14px;
}

.asteriskField {
  color: var(--darkred);
}

[name='file'] {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
}

[name='trackname'] {
  width: 140px;
}

.track-form {
  width: 100%;
  margin: 0;
}

td[colspan="4"] {
  width: 100%;
}

audio {
  width: 250px;
  height: 35px;
}


.albumimg {
  width: 180px;
  height: auto;
}

.album-list-header, .artist-list-header {
  padding: 0 18px 10px 18px;
}
.album-con {
  text-align: center;
  width: 20%;
  padding: 0;
  margin-right: 20px;
}

.path-links a {
  color: black;
}

.path-links pre {
  font-size: 16px;
}

svg {
  width: 150px;
  height: auto;
  color: #1f1f1f;
}

a div {
  height: 250px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}

.form-con {
  width: 32vw;
  margin: 10px auto;
  justify-content: center;
}

.current-img-con {
  width: 160px;
}

.footer-but-con {
  margin-top: 40px;
}

.thead-dark {
  background-color: var(--lightblack);
}
.btn-next {
  background-color: var(--lightblack);
  color: white;
}

.btn-next:hover {
  color: white;
  box-shadow: 0 1px 2px grey;
}

.btn-white {
  background-color: white;
  color: black;
  border: #1f1f1f 1px solid;
}

.btn-white:hover {
  background-color: #e3e3e3;
}

.btn-next:hover {
  color: black;
  box-shadow: 0 1px 2px grey;
}

.album-list-con {
  width: 80vw;
}

#albumlist {
  height: 70vh;
}

.table-con {
  width: 950px;
}

.addtrack_form {
  width: 100%;
}
#trackstable *, .addtrack_form *, .album-form-btns * {
  font-size: 12px;
}

.album-form-btns {
  width: 80%;
  margin: 0 auto;
}

.track-buttons a, .track-buttons button {
  margin: 3px;
}

#add-track-btn {
  width: 100px;
  margin-right: 18px;

}
#add-track-form {
  width: 80px;
}
.tracks-view-con {
  margin: auto 0;
}

.album-view-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  box-shadow: 0 1px 2px grey;
  border-radius: 10px;
  margin-bottom: 20px;
  /*background-color: #343A40;*/
}

.albumimg {
  width: 50px;
  height: auto;
}

.album-view-con h5 {
  font-size: 18px;
}


.album-view-con p{
  font-size: 12px;
}

.track-buttons {
  margin: 0 0 16px 5px;
}

.table-con {
  height: 70vh;
}

#view-tracks-con {
  width: 85vw;
  margin-left: 1.5in;
}

/* Loading */
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/*Artist*/
