/**
 * Styling for the login page.
 *
 * @author Hudson Kit Natividad
 */
#loginForm img {
    margin-top: 150px;;
    width: 250px;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

#loginForm form {
    margin-bottom: 230px;
}

body {
    font-family: Montserrat, sans-serif;
}