:root {
  --red: #750000;
  --darkred: #410505;
  --darkwhite: #b5b5b5;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.asteriskField {
  color: var(--red);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.artistimage {
  width: 70px; height: auto;
}

#albumlist, #artistlist {
  width: 60vw;
  height: 80vh;
  overflow: scroll;
}
.albumimage {
  width: 70px; height: auto;
}
.editdelete-con button{
  height: 32px;
  padding-top: 3px;
  width: 70px;
  margin:6px 6px;
  border-radius: 5px;
}
button[name="delete"] {
  background-color: var(--red);
  border-color: var(--red);
  color: white;
}
button[name="delete"]:hover {
  background-color: var(--darkred);
  border-color: var(--darkred);
}

button[name="edit"] {
  border-color: transparent;
}
button[name="edit"]:hover {
  box-shadow: 0 1px 2px gray;
}

table {
  font-size: 14px;
}