* {
    font-family: Montserrat, sans-serif;
}

h1 {
    margin-top: 45px;
}
/*
This container creates an equal margin to the sides of each web page
*/
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
  }
  /*Artist HTML*/

  #artist-list{
    width: auto;
    height: 1000px;
  }

.artistContainer{
  height: auto;
  width: 27%;
  display: inline-block;
  float: center;
  margin-right: .5in;

}

  .artistContainer img{
    float: left;
    height: auto;
    width: 100%;
    display: block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    /* -ms-filter: grayscale(100%); */
    filter: grayscale(100%);
    /* filter: gray;*/
  }

.artistContainer:hover img {
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
filter: none;
}


nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    color: black;
    align-items: center;
}

nav img {
    width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    width: auto;
    height: auto;
}

nav li {
    list-style: none;
    height: auto;
    margin: auto 10px;
    width: 80px;
}

nav ul {
    margin-left: 500px;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul a {
    width: auto;
    height: 100px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

li a:hover, li a:focus, li a.link-focus{
    font-weight: bolder;
    font-size: 16px;
}

/* Search */


.search-container {
    float: right;
    padding: 0;
    width: 304px;
    height: 47px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 0.35in;
    display: flex;
    justify-content: space-around;
}

#search-fld:focus {
    outline: none;
}

#search-fld {
    background-color: #ffffff;
    border-color: rgba(0,0,0,0);
    font-size: 15px;
    padding: 12px;
    color: #333;
}

.search-icon {
    width: 25px;
    height: 25px;
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#search-btn {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0;
}

#choice1, #choice2 {
    margin: 0 10px 0 0;
}


/* Alvin */
.aligned-con {
    align-content: center;
    display: flex;
    margin-bottom: 10px;
}

.aligned-con p {
    margin: 0;
}

.radio-btn {
    margin-top: 15px;
}
.radio-btn * {
    margin: 0 10px 0 0;
    height: 20px;
}

.filter-but {
    border: 1px solid black;
    background-color: white;
    margin-left: 5px;
    border-radius: 15px;
    width: auto;
    float: left;
    justify-content: center;
}

.filter-but:hover {
    color: white;
    background-color: #343434;
}

.filter-but:focus {
    color: white;
    background-color: #1f1f1f;
    box-shadow: 0 1px 2px black;
    outline: none;
}

.column {
    display: inline-flex;
    width: 100%;
}
#result-items-con{
  width: 100%;
}

/* Spotify Design */
.spotify-song-con {
    margin: 15px auto;
    width: 400px;
    height: auto;
}

.spotify-player {
    width: 400px;
    height: 300px;
    position: fixed;
    top: 45vh;
    right: 5vw;
}

.spotify-player iframe {
    width: 100%;
    height: 100%;
}


#song-list {
    width: 65%;
    box-sizing: border-box;
    padding:  0;
    list-style: none;
}
.spotify-song-con img:hover {
    -webkit-filter: grayscale(50%);
}

.track-info {
    display: flex;
}

.track-info img {
    width: 180px;
    height: 180px;
    margin-right: 20px;
    border-radius: 10px;
}

.song-img-con + .song-desc-con {

    align-items: center;
    display: block;
}
.see-vid {
    border: none;
    background-color: white;
}

.see-vid u:hover{
    font-weight: bold;
}

.see-vid:focus{
    outline: none;
}

.album-btn:focus {
    outline: none;
    background-color: black;
}

.album-btn:hover {
    background-color: black;
}

.album-btn {
    background-color: #393939;
    box-shadow: 0 1px 2px #000000;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
}

span {
    color: gray;
    size: 13px;
}

.list-con {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
}

.video-con {
    display: flex;
    margin: 5px auto;
}

#videos {
    margin: 5px auto;
    width: 100%;
}

#videoContainer {
  margin-left: 1in;
  margin-right: 1in;
  text-align: center;


}

#video-player{
  width: 12in;
  height: 6in;

  text-align: center;


}

/*Slideshow Conatiner*/

.slideshow-container{
  max-width: 1500px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.mySlides {
  display: none;
}
.mySlides.fade img{
  vertical-align: middle;
  height: auto;
  width: 100%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 98.4%;
  text-align: center;
  background-color: black;
  opacity: 75%;
  font-family: Montserrat, sans-serif, bold;
  font-size: .5in;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*About*/
.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  border: 2px dotted black;
  border-radius: 10px;
}
.wrapper>*{
  padding: 10px;
  margin:20px;
  flex:1 100%;
  border-radius: 10px;
}
.aboutTheSite {
background: #f4f4f2;
}
.aboutTheSite h2{
  text-align: center;
}
.aboutTheSite p{
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.peopleBehind {
  background: #e8e8e8;
  border: 1px solid black;
}
.peopleBehind img{
  width: 80%;
  height: auto;
  margin-left: 1%;
}
.peopleBehind h2{
  text-align: center;
}
.peopleBehind p {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

}
.loc{
  margin: 0;
  padding: 0px 10px 10px 10px;
  background: #e8e8e8;
  border: 1px solid black;
}

#con img{
  width: 7in;
  height: auto;
  float:right;
  display: inline-block;
}

#GetInTouch p{
  font-size: 50px;
}

#name{
  height: 20px;
  width: 45%;
  border-radius: 5px;
}
#name:focus{
  background: #e1e1e1;
}

#email{
  height: 20px;
  width: 45%;
  border-radius: 5px;
}
#email:focus{
  background: #e1e1e1;
}

#subject{
  height: 20px;
width: 45%;
  border-radius: 5px;
}
#subject:focus{
  background: #e1e1e1;
}
#msg {
  height: 200px;
  width: 45%;
  border-radius: 5px;
}
#msg:focus{
  background: #e1e1e1;
}

#lbl1{
  margin-right: 3.9%;
}

#lbl2{
  margin-right: 4%;
}

#lbl3{
  margin-right: 3.2%;
}

#lbl4{
  padding-bottom: 15px;
}


#submitt{
  width: 12%;
  height: 50px;
  font-size: 13px;
  margin-left: 45%;
  cursor: pointer;
}


/*Index*/

iframe{
  height: 2in;
  width: 3.5in;
}
#trending{
  width: auto;
  height: 800px;
}
.vids {
  display: inline-block;
  float: left;
  height: auto;
  width: 25%;
}

.vids h3{
  margin-right: 1in;
}

#news {
  width: auto;
  height: 750px;
}

.newss {
  display: inline-block;;
  float: left;
  height: auto;
  width: 25%;
}

.newss h3{
    margin-right: 1in;
  }

.newss img {
  width: 300px;
  height: auto;
}

.box{
  position: relative;
  max-width: 100%;
  background-color: yellow;
  margin: 10px;
  padding: 15px;
  display: flex;
}
.aboutLogoPicture{
  max-width: 35%;
  flex: 0 0 300px;
}

@media only screen and (max-width: 1024px) {
    /* This container creates an equal margin to the sides of each web page */
    .container {
        width: 90%;
        margin: auto;
        overflow: hidden;
        background-color: white;
        padding-left: 0;
        padding-right: 0;
    }

    h1 {
        text-align: center;
    }

    /* Navigation Style */
    body {
        overflow-x: hidden;
    }

    nav {
        position: fixed;
        z-index: 4;
        top: 0;
        display: flex;
    }

    nav ul {
        margin-left: 0;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: white;
        opacity: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        padding-left: 5%;
        padding-right: 6%;
        color: white;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .nav-links li {
        opacity: 0;

    }

    .burger {
        display: block;
        cursor: pointer;
        float: right;
    }

    .nav-active {
        transform: translateX(0%);
    }


    .burger div {
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: black;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .spotify-player {
        width: 100%;
        height: 200px;
        top: 75%;
        right: 0;
    }

    .slideshow-container, h1{
        margin-top: 100px;
    }
}



    /*MOBILE VERSION*/
/*MOBILE VERSION*/
/*MOBILE VERSION*/
/*MOBILE VERSION*/
/*MOBILE VERSION*/
/*MOBILE VERSION*/
/*MOBILE VERSION*/
/*MOBILE VERSION*/

@media only screen and (max-width: 768px) and (min-width: 360px) {

      .text{
        font-size: .25in;
        width: 94.4%;
      }


    #result-items-con {
        width: 100%;
    }



    /* Search */

    .musicHeader {
        /* Contains the Header and the search container */
        display: flex;
        height: 200px;
        flex-direction: column;
        text-align: center;
    }

    .search-container {
        clear: both;
        margin: 0 auto;
        width: 80%;
    }

    /* Music page */
    .spotify-song-con * {
        width: 100%;
        margin: 5px 0;
    }

    .spotify-song-con h3 {
        text-align: center;
    }

    .spotify-player {
        width: 100%;
        height: 200px;
        top: 75%;
        right: 0;
    }


    .track-info {
        display: flex;
        flex-direction: column;
    }

    .track-info img {
        width: 280px;
        height: 280px;
    }

    .song-desc-con {
        text-align: center;
    }

    #song-list{
      margin: auto;
    }


    div[class*="song-"], .track-info img {
        align-items: center;
        display: block;
        margin: 10px auto;
    }


    .album-btn {
        width: 200px;
        margin: 10px auto;
    }

    .list-con {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
    }

    /* Video under Music page */

    .video-con {
        /*display: flex;*/
        /*margin: 5px auto;*/
    }
    .desc-con {
      margin-left: 5%;
      margin-right: 6%;
    }
    
    .video-player {
      width: 200px;
      height: auto;
    }


    #videos {
        /*display: flex;*/
        /*margin: 5px auto;*/
    }
    footer {
            margin-bottom: 180px;
        }
  /*Artist*/

  .artistContainer{
    height: auto;
    width: 80%;
    display: block;
    float: none;
    margin: auto;

  }
  #artist-list{
    text-align: center;
    height: 1500px
  }
  /*Index*/
  #trending{
    width: auto;
    height: 2250px;
  }
  .vids {
    display: table;
    margin: 0 auto;
    height: auto;
    width: 5%;
    float: none;
  }

  .vids h3{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3%;
  }

  #news {
    width: auto;
    height: 2500px;
  }

  .newss {
    display: table;
    margin: 0 auto;
    height: auto;
    width: 5%;
    float: none;
  }

  .newss h3{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    }

  .newss img {
    width: 300px;
    height: auto;
  }

  /*About*/
  .wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    border: 2px dotted black;
    border-radius: 5px;
  }
  .wrapper>*{
    padding: 5px;
    margin:20px;
    flex:1 100%;
    border-radius: 5px;
  }
  .aboutTheSite {
  background: #f4f4f2;
  }
  .aboutTheSite h2{
    text-align: center;
  }
  .aboutTheSite p{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .peopleBehind {
    background: #e8e8e8;
    border: 1px solid black;
  }
  .peopleBehind img{
    width: 40%;
    height: auto;
    margin-left: 1%;
  }
  .peopleBehind h2{
    text-align: center;
  }
  .peopleBehind p {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

  }
  .loc{
    margin: 0;
    padding: 0px 10px 10px 10px;
    background: #e8e8e8;
    border: 1px solid black;
  }

  #con img{
    width: 50%;
    height: auto;
    float:right;
    display: inline-block;
  }

  #GetInTouch p{
    font-size: 50px;
  }

  #name{
    height: 20px;
    width: 45%;
    border-radius: 5px;
  }
  #name:focus{
    background: #e1e1e1;
  }

  #email{
    height: 20px;
    width: 45%;
    border-radius: 5px;
  }
  #email:focus{
    background: #e1e1e1;
  }

  #subject{
    height: 20px;
  width: 45%;
    border-radius: 5px;
  }
  #subject:focus{
    background: #e1e1e1;
  }
  #msg {
    height: 200px;
    width: 45%;
    border-radius: 5px;
  }
  #msg:focus{
    background: #e1e1e1;
  }

  #lbl1{
    margin-right: 3.9%;
  }

  #lbl2{
    margin-right: 4%;
  }

  #lbl3{
    margin-right: 3.2%;
  }

  #lbl4{
    padding-bottom: 15px;
  }


  #submitt{
    width: 12%;
    height: 50px;
    font-size: 13px;
    margin-left: 45%;
    cursor: pointer;
  }



}
