* {
    font-family: Montserrat, sans-serif;
}

/*
This container creates an equal margin to the sides of each web page
*/
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
  }
  /*Artist HTML*/
  .artistContainer img{
    opacity: 1;
    display: block;
    float: left;
    width: 30%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    /* -ms-filter: grayscale(100%); */
    filter: grayscale(100%);
    /* filter: gray;*/
  }


  .artistContainer:hover img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }

    .video-con {
        display: flex;
        margin: 5px auto;
    }


    #navbar {
      width: 100%;
      background-color: white;
      display: inline-block;
      color:black;
    	font-family: Tahoma, Geneva, sans-serif;
    	font-size:16px;
	    line-height:1.6em;
      float: left;
    }

    #navbar img[src="images/logo site.png"] {
      width: 150px;
      height: auto;
      float: left;
    }

    #navbar li {
      float: left;
      margin-left: 7%;
      display: inline-block;
      text-align: center;
      padding-top: 0.5in;
    }

    #navbar a {
        width: 100px;
        height: auto;
        float: right;
        color:black;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
    }

#navbar a:hover {
    border-bottom-width: 3px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
.search-container{
  float: right;
  display: inline;
  padding-top: 0.5in;
}

input {
    border-radius: 25px;
    height: 25px;
}

input:focus {
    outline: none;
}

#search-btn {
    border-radius: 25px;
    color: white;
    background-color: #1f1f1f;
    height: 30px;
}

.filter-but {
    border: 1px solid transparent;
    margin-left: 5px;
    border-radius: 15px;
    width: auto;
    float: left;
    justify-content: center;
}

.filter-but:hover {
    color: white;
    background-color: #1f1f1f;
}

.spotify-song-con {
    margin: 15px auto;
    width: 400px;
    height: auto;
}


#top-track-list {
    width: 100%;
    box-sizing: border-box;
    padding:  0;
    list-style: none;
}
.spotify-song-con img:hover {
    -webkit-filter: grayscale(50%);
}

.track-info {
    display: flex;
}

.track-info img {
    width: 180px;
    height: 180px;
    margin-right: 20px;
    border-radius: 10px;
}

.song-img-con + .song-desc-con {

    align-items: center;
    display: block;
}

.see-vid {
    background-color: #393939;
    box-shadow: 0 1px 2px #000000;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

.see-vid:hover {
    background-color: black;
}

span {
    color: gray;
    size: 13px;
}

.list-con {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}

/*Slideshow Conatiner*/
.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  height: auto;
  width: 50%;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
