/*
This container creates an equal margin to the sides of each web page
*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
  }
